<section class="card-container">


    <mat-progress-spinner *ngIf="componentLoading" mode="indeterminate" color="primary"></mat-progress-spinner>

    <mat-card class="card" *ngFor="let recipe of recipeList" routerLink="/recipe/{{recipe._id}}"
        routerLinkActive="router-link-active">

        <mat-card-header>
            <mat-card-title>{{recipe.title}}</mat-card-title>
            <mat-card-subtitle>{{recipe.subtitle}}</mat-card-subtitle>
        </mat-card-header>

        <img matCardImage [src]="BASE_URL + recipe.imageSource">

    </mat-card>

    <h2 *ngIf="recipeList.length === 0 && !componentLoading" >Még nincsenek saját receptjeid</h2>

</section>