@use "~@angular/material" as mat;

@import "~@angular/material/theming";

@include mat.core();

$light-primary: mat.define-palette(mat.$lime-palette);
$light-accent: mat.define-palette(mat.$yellow-palette, A200, A100, A400);
$light-warn: mat.define-palette(mat.$deep-orange-palette);

$dark-primary: mat.define-palette(mat.$lime-palette);
$dark-accent: mat.define-palette(mat.$yellow-palette, A200, A100, A400);
$dark-warn: mat.define-palette(mat.$deep-orange-palette);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
    ),
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

@include mat.all-component-themes($dark-theme);

.dark-mode {
  @include mat.all-component-colors($dark-theme);
  // @include mat.core-color($dark-theme);
  // background: #212121;
}

.light-mode {
  @include mat.all-component-colors($light-theme);
}

// .auto-mode {
//     @media (prefers-color-scheme: light) {
//         @include mat.all-component-themes($recipe-light-theme);
//     }

//     @media (prefers-color-scheme: dark) {
//         @include mat.all-component-themes($recipe-dark-theme);
//     }
// }

html, body, * {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-ok {
  background: #1b5e20 !important;
  color: whitesmoke !important;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.8) !important;
}

.snackbar-error {
  background: #610101 !important;
  color: whitesmoke !important;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.8) !important;
}

.card-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  // background: floralwhite;
  // background: #212121;
  min-height: 100%;
  padding-top: 3em;

  .card {
    width: 24em;
    height: 32em;
    margin: 2em 1em;
    // box-shadow: 8px 8px 12px red;

    mat-card-header {
      height: 6em;
    }

    img {
      height: 24em;
      object-fit: cover;
      object-position: center;
    }
    
    &:hover {
      box-shadow: 6px 6px 12px currentColor;
    }
  }

}
